body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: #eee;
    background-color: #444;
    max-height: 100%;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: 5em 1fr;

    grid-template-areas:
        "head"
        "tool";
    font-family: Arial, Helvetica, sans-serif
}

.tool {
    grid-area: tool
}

#passpunkte {
    display: grid;
    grid-template-columns: 10em 1fr 10em;
    grid-template-areas:
        "nav map side";
}

#map {
    grid-area: map;
    background-color: aqua;
}

header {
    grid-area: head;
}

nav {
    grid-area: nav;
    color: #000;
}

aside {
    grid-area: side;
}

#speichern {
    position: absolute;
    top: 10px;
    right: 10px;
}